img.fast {
    image-rendering: optimizeSpeed;
}

img.half {
    max-width: 49.4% !important;
}

figure > img,
figure div.flex-row > img,
figure div.flex-row div.flex-column > img {
    margin: 2px;
}

figure > img,
figure div.flex-row > img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    object-fit: contain;
}

figure > img {
    display: inline;
}

figure img.discrete {
    max-width: 520px;
    max-height: 400px;
}

figure img.wide {
    max-width: none;
    max-height: none;
}

div.flex-row > table {
    width: auto;
    margin-bottom: 0px;
}

figure {
    text-align: center;
}

figure > table {
    margin: 0;
}

figure > figcaption {
    margin: 0.5em 0 0 0;
}

div.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

div.flex-row > img {
    flex: 1;
    min-height: 220px;
    min-width: 0px;
}

div.flex-row-half > img {
    min-width: 300px;
}

td.coin, td.banknote {
    padding: 5px !important;
}

img.inline {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;
    height: 18px;
}

td.coin > img {
    width: 100px;
}

td.banknote > img {
    width: 100px;
}

div.flex-column {
    display: flex;
    flex-direction: column;
}
