body {
    margin: 0;
    padding: 1rem;
}

.masonry-vertical {
    columns: 2 auto;
    column-gap: 2em;
    div {
        min-width: 400px;
        margin: 1em 0em;
        display: inline-block;
        width: 100%;
    } 
}
