div.band {
    margin-bottom: 15px;
}

div.band a {
    color:inherit
}

div.band>div.band-name {
    font-size: 20px;
}

div.song {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.band>hr {
    margin-left : 20px;
    margin-right: 20px;
    color: #F0F0F0;
}

div.song + div.song {
    border-top: 1px solid #B0B0B0;
}

iframe.spotify {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    border: 0;
}
