.projects {
    max-width: calc(1200px - (30px * 2));
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project-gallery>article{
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    max-width: 570px;
    min-width: 400px;
    min-height: 0px;

    border-radius: 1em;
    cursor: pointer;
}

.project-gallery>article:hover{
    box-shadow: 0px 0px 20px -10px #000000;
    transition: 0.1s;
}

.project-gallery>article img{
    display: block;
    height: 270px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

.project-gallery>article>p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.project-gallery>article>p:last-child{
    margin-bottom: 0;
}
