.projects {
    max-width: calc(1200px - (30px * 2));
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.project-gallery>article{
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    min-width: 400px;
    min-height: 0px;

    border-radius: 1em;
    cursor: pointer;

    box-shadow: 0px 0px 5px -2px #808080;
}

.project-gallery>article:hover{
    box-shadow: 0px 0px 20px -5px #000000;
    transition: 0.1s;
}

.project-gallery>article.placeholder{
    box-shadow: none;
}
.project-gallery>article.placeholder:hover{
    box-shadow: none;
    transition: none;
    cursor: auto;
}

.project-gallery>article>p>img{
    display: block;
    height: 270px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

.project-gallery>article .images-wrapper{
    display: block;
    text-align: center;
    height: 270px;
    margin-bottom: 15px;
}
.project-gallery>article .images-grid{
    height: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 0.3em;
    row-gap: 0.3em;
}
.project-gallery>article .images-wrapper img{
    object-fit: contain;
    border-radius: 0.7em;
    max-width: 100%;
    max-height: 100%;
}

.project-gallery>article>p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.project-gallery>article>p:last-child{
    margin-bottom: 0;
}

.scroll {
    overflow: auto;
    white-space: nowrap;

    margin-bottom: 15px;
}
.scroll p {
    margin-bottom: 0.5em;
}
.scroll img {
    max-height: 19em;
    min-height: 19em;
    border-radius: 1.5em;
    margin-right: 0.5em;
}

div.try-it {
    float: right;
    margin: 0.6em 0;
    // text-align: center;
    font-size: large;
}
div.try-it,
div.try-it a {
    color: white;
}
div.try-it a {
    text-decoration: none;
}
div.try-it>* {
    padding: 0.5em 1em;
    background-color: grey;
    border-radius: 1em;
    font-weight: bold;
}
