/* Create two equal columns that floats next to each other */

div.responsive_row>div.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

div.responsive_row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    div.responsive_row>div.column {
        width: 100%;
    }
}