---
---

@import "{{ site.theme }}";

@import "about";
@import "globe";
@import "images";
@import "masonry";
@import "music";
@import "post";
@import "projects";
@import "responsive-column";
@import "timeline";
@import "travel";

@import "university";
@import "cp";

p, ul, ol {
    text-align: justify;
}

.footer-col-2 {
    width: calc(25% - (30px / 2));
}

.footer-col-3 {
    width: calc(40% - (30px / 2));
}

.svg-icon-medium {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.svg-icon-large {
    width: 26px;
    height: 26px;
    display: inline-block;
    padding-right: 5px;
    // vertical-align: text-top;
}

.img-icon {
    filter: brightness(50%);
}

.site-header {
    border-top: none;

    .wrapper {
        max-width: none;
        padding-left: 20px;
        padding-right: 25px;
    }
}

.site-title {
    font-size: 32px;
    line-height: 65px;
}

.site-nav {
    font-size: 17px;
    line-height: 65px;

    .page-link:not(:last-child) {
        margin-right: 25px;
    }
}

.quote-author {
    text-align: right;
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 15px;
}
