---
---

@import "{{ site.theme }}";

@import "post";

@import "travel";

@import "images";

@import "responsive-column";

@import "music";

p, ul, ol {
    text-align: justify;
}

.footer-col-2 {
    width: calc(25% - (30px / 2));
}

.footer-col-3 {
    width: calc(40% - (30px / 2));
}
